.ts-header-style-4 .themestek-pre-header-wrapper .top-contact li,
.ts-header-style-4 .themestek-pre-header-wrapper .top-contact li a{
	font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}
.ts-header-style-4 .themestek-pre-header-wrapper.ts-textcolor-dark .top-contact li strong{
	color: #031b4e;
}
.ts-header-style-4.ts-header-overlay .themestek-pre-header-wrapper .top-contact li:first-child{
	padding-left: 0;
}
.ts-header-style-4:not(.ts-header-overlay) .themestek-pre-header-wrapper .social-icons li > a{
	width: 45px;
}
.ts-header-style-4:not(.ts-header-overlay) .themestek-pre-header-wrapper.ts-textcolor-dark .social-icons li > a{
	color: #031b4e;
}
.ts-header-style-4:not(.ts-header-overlay) .themestek-pre-header-wrapper.ts-textcolor-dark .social-icons li > a:hover{
	color: #fff;
}
.ts-header-style-4 .themestek-pre-header-wrapper .top-contact li{
	padding-left: 10px;
	padding-right: 10px;
}
.ts-header-style-4 .ts-header-text-area.ts-header-button-w a{
	padding: 12px 24px;
	font-size: 15px;
	font-weight: 500!important;
	color: #fff;
}

@media (max-width: 1200px){
	.ts-header-style-4 .ts-header-icons{
		display: none;
	}
	.ts-header-style-4 .site-header .container{
		padding-right: 30px;
	}
}

@media (max-width: 1320px){
	.ts-header-style-4 .site-header .container{
		padding: 0 30px;
	}
}

@media (min-width: 1201px){
	.ts-mmmenu-override-yes #page .ts-header-style-4 .themestek-sticky-header #site-navigation .mega-menu-wrap>ul>li.mega-menu-item.mega-current-menu-ancestor>a,
	.ts-mmmenu-override-yes #page .ts-header-style-4 .themestek-sticky-header #site-navigation .mega-menu-wrap>ul>li.mega-menu-item.mega-current-menu-parent>a {
		color: rgb( var(--tste-labtechco-skincolor-rgb) , 1) !important;
	}

	/* New sticky header */
	header.ts-header-style-4 .themestek-sticky-header > .container{
		padding: 0;
	}
	.ts-header-style-4.ts-header-overlay .ts-header-icons > *:nth-child(2):after{
		background-color: rgba(255, 255, 255, 20%)
	}
	.ts-header-style-4.ts-header-overlay .is_stuck .ts-header-icons > *:nth-child(2):after{
		background-color: rgba(0, 0, 0, 20%)
	}
	.ts-header-style-4 .ts-header-icons .ts-header-wc-cart-link a:hover{
		color: var(--tste-labtechco-skincolor);
	}
}