@media (max-width: 1200px){
	.ts-header-style-10 .ts-stickable-header-w,
	.ts-header-style-infostack .ts-stickable-header-w{
		height: auto !important;
	}
	.ts-header-style-10 .themestek-social-links-wrapper,
	.ts-header-style-10 .ts-header-icons{
		display: none;
	}
	.ts-header-style-10 .site-header .container{
	padding-right: 30px;
	}
}

@media (max-width: 1320px){
	.ts-header-style-10 .site-header .container{
		padding: 0 30px;
	}
}

@media (min-width: 1201px){
	/* Style 10 */
	.ts-header-style-10 .site-header-main.container{
		width: 100%;
		padding: 0 70px;
	}
	.ts-header-style-10 #site-header-menu{
		float: inherit;
	}
	.ts-header-style-10  #site-header-menu #site-navigation .nav-menu{
		float: left;
	}
	.rtl .ts-header-style-10 #site-header-menu #site-navigation .nav-menu{
		float: right;
	}
	.ts-header-style-10 .ts-vc_general.ts-vc_btn3.ts-vc_btn3-color-skincolor:not(.ts-vc_btn3-style-text):not(.ts-vc_btn3-style-outline),
	.ts-header-style-10 .ts-header-text-area.ts-header-button-w a{
		background: transparent;
		font-size: 13px;
		padding: 18px 40px;
		font-weight: 700 !important;
		margin-left: 20px;
		border-radius: 36px;
		color: rgb( var(--tste-labtechco-skincolor-dark-rgb) , 1);
		border:2px solid rgb( var(--tste-labtechco-skincolor-dark-rgb) , 1);
	}
	.rtl .ts-header-style-10 .ts-vc_general.ts-vc_btn3.ts-vc_btn3-color-skincolor:not(.ts-vc_btn3-style-text):not(.ts-vc_btn3-style-outline),
	.rtl .ts-header-style-10 .ts-header-text-area.ts-header-button-w a{
		margin-left: 0;
		margin-right: 20px;
	}
	.ts-header-style-10 .ts-vc_general.ts-vc_btn3.ts-vc_btn3-color-skincolor:not(.ts-vc_btn3-style-text):not(.ts-vc_btn3-style-outline):hover,
	.ts-header-style-10 .ts-header-text-area.ts-header-button-w a:hover{
		background: rgb( var(--tste-labtechco-skincolor-rgb) , 1);
		border:2px solid rgb( var(--tste-labtechco-skincolor-rgb) , 1);
		color:#fff;
	}
	.ts-header-style-10 .headerlogo,
	.ts-header-style-10 .headerlogo img,
	.ts-header-style-10 .site-header .social-icons{
		transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-webkit-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
	}
	.ts-header-style-10 .social-icons li > a:hover{
		color: var(--tste-labtechco-skincolor)!important;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1350px){
	.ts-header-style-10 .site-header-main.container{
		padding: 0 30px !important;
	}
	.ts-header-style-10 #site-header-menu #site-navigation div.nav-menu > ul > li > a{
		margin: 0px 7px 0px 8px !important;
	}
}

.ts-header-style-10 .ts-stickable-header-w-main{
	position: absolute;
	z-index: 21;
	width: 100%;
	box-shadow: none;
	-khtml-box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}
.ts-header-style-10 .themestek-sticky-header > .container{
	padding: 0;
}
.ts-header-style-10 .themestek-sticky-header .container{
	width: 100%;
	max-width: none;
}
.ts-header-style-10 .themestek-sticky-header .themestek-social-links-wrapper{
	float: right;
}
.rtl .ts-header-style-10 .themestek-sticky-header .themestek-social-links-wrapper{
	float: left;
}
.ts-header-style-10 .ts-titlebar-wrapper .ts-titlebar-inner-wrapper{
	padding-top: var(--tste-labtechco-header-height);
}