@media (max-width: 1200px){
	.ts-header-style-6 .ts-header-icons{
		display: none;
	}
	.ts-header-style-6 .site-header .container{
		padding: 0 30px;
	}
}

@media (max-width: 1320px){
	.ts-container-extra-wide .ts-header-style-6  #site-header-menu #site-navigation div.nav-menu > ul > li > a,
	.ts-container-extra-wide.ts-mmmenu-override-yes .ts-header-style-6 #site-header-menu #site-navigation .mega-menu-wrap .mega-menu.mega-menu-horizontal > li.mega-menu-item > a{
		font-size: 13px;
	}
}

@media (min-width: 1201px){
	.ts-header-style-6 .site-header-main.container{
		width: auto;
		padding: 0;
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-pack: justify!important;
		justify-content: space-between!important;
		border-bottom: 1px solid #e9e9e9;
	}
	.ts-header-style-6 .ts-menu-topbararea{
		flex: 1;
	}
	.ts-header-style-6 .site-branding{
		padding-left: 30px;
		padding-right: 33px;
		border-right: 1px solid #e9e9e9;
	}
	.rtl .ts-header-style-6 .site-branding{
		padding-right: 30px;
		padding-left: 33px;
		border-right-width: 0;
		border-left: 1px solid #e9e9e9;
	}
	.ts-header-style-6 .headerlogo{
		height: 135px;
		line-height: 135px;
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	.ts-header-style-6 .headerlogo img{
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	.ts-header-style-6 #site-header-menu #site-navigation .nav-menu{
		float: left;
	}
	.rtl .ts-header-style-6 #site-header-menu #site-navigation .nav-menu{
		float: right;
	}
	.ts-header-style-6 #site-header-menu{
		float: none;
		padding-left: 10px;
		padding-right: 0;
	}
	.rtl .ts-header-style-6 #site-header-menu{
		padding-right: 10px;
		padding-left: 0;
	}
	.ts-header-style-6 .ts-header-block .ts-vc_general.ts-vc_btn3.ts-vc_btn3-color-skincolor:not(.ts-vc_btn3-style-text):not(.ts-vc_btn3-style-outline),
	.ts-header-style-6 .ts-header-text-area.ts-header-button-w a{
		line-height: var(--tste-labtechco-header-height);
		padding: 0 50px;
		background-color: rgb( var(--tste-labtechco-skincolor-dark-rgb) , 1);
		font-size: 13px;
		font-weight: 700 !important;
	}
	.ts-header-style-6 .ts-header-text-area.ts-header-button-w a{
		display: block;
		color: #fff;
	}
	.ts-header-style-6 .ts-header-block .ts-vc_general.ts-vc_btn3.ts-vc_btn3-color-skincolor:not(.ts-vc_btn3-style-text):not(.ts-vc_btn3-style-outline):hover,
	.ts-header-style-6 .ts-header-text-area.ts-header-button-w a:hover{
		background-color: rgb( var(--tste-labtechco-skincolor-rgb) , 1);
	}
	.ts-header-style-6 .themestek-pre-header-wrapper .top-contact li{
		font-weight: 400;
	}
	.ts-header-style-6 .themestek-pre-header-wrapper .top-contact li:last-child::after,
	.ts-header-style-6 .themestek-pre-header-wrapper .top-contact li::before{
		content: none;
	}

	/* Style 6 Topbar */
	.ts-header-style-6 .themestek-pre-header-wrapper{
		height: 50px;
		line-height: 50px; 
		visibility: visible;
		
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	.ts-header-style-6 .themestek-pre-header-wrapper .container{
		width: auto;
		padding: 0;
	}
	.ts-header-style-6 .themestek-pre-header-wrapper.ts-textcolor-white .social-icons li > a{
		color: #fff;
		font-size: 14px;
	}
	.ts-header-style-6 .themestek-pre-header-wrapper .social-icons li:first-child::after,
	.ts-header-style-6 .themestek-pre-header-wrapper .social-icons li::before{
		display: none;
	}
	.ts-header-style-6 .is_stuck .themestek-pre-header-wrapper{
		height: 0;
		visibility: hidden;
	}
	.ts-header-style-6 .is_stuck .headerlogo{
		height: 85px;
		line-height: 85px;
	}

	/* New sticky header */
	header.ts-header-style-6 .themestek-sticky-header > .container{
		max-width: none;
		width: auto;
		padding: 0;
	}
	.ts-header-style-6 .themestek-slider-wrapper {
		max-width: inherit;
	}
	.ts-header-style-6 .themestek-sticky-header .ts-header-text-area.ts-header-button-w a{
		height: var(--tste-labtechco-header-height-sticky);
		line-height: var(--tste-labtechco-header-height-sticky);
	}
}