@media (max-width: 1200px){
	.ts-header-style-1 .ts-header-icons .ts-header-search-link{
		padding-right: 0;
	}
	.ts-header-style-1.ts-header-overlay .ts-header-icons > *:nth-child(2)::after{
		background-color: rgba(255, 255, 255, 20%)
	}
	.ts-header-style-1.ts-header-overlay .is_stuck .ts-header-icons > *:nth-child(2)::after{
		background-color: rgba(0, 0, 0, 20%)
	}
	.ts-header-style-1 .ts-header-icons{
		display: none;
	}
	.ts-header-style-1 .site-header .container{
		padding-right: 30px;
	}
}

@media (max-width: 1320px){
	.ts-header-style-1 .site-header .container{
		padding: 0 30px;
	}
}

@media (min-width: 1201px){
	/*** Header Text Area ***/
	.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-top-color: var(--tste-labtechco-skincolor);
	}
	.ts-header-style-1:not(.ts-header-invert) .container-fullwide #site-header-menu{
		margin-right:20px;
	}
	.ts-header-style-1 .ts-header-icons .ts-header-wc-cart-link a:hover{
		color: var(--tste-labtechco-skincolor);
	}
	.ts-header-style-1 .site-header.ts-bgcolor-white .ts-header-icons .ts-header-wc-cart-link a:hover span.number-cart{
		color: #fff;
	}
	.ts-mmmenu-override-yes #page .ts-header-style-1 #site-navigation .mega-menu-wrap > ul > li.mega-menu-item,
	.ts-header-style-1 #site-header-menu #site-navigation div.nav-menu > ul > li > a{
		margin: 0px 9px 0px 9px;
	}
	.ts-slider-yes .ts-header-style-1.themestek-fixed-header .headerlogo .crosslogo{
		display: none;
	}
	.ts-headerstyle-1.ts-slider-yes #ts-home{
		position: absolute;
		z-index: 1;
		width: 800px;
		height: 800px;
		width: 0;
		height: 0;
		border-top: 876px solid #3368c6;
		border-right: 876px solid transparent;
		left: 0px;
		top: 0px;
	}
	.rtl.ts-headerstyle-1.ts-slider-yes #ts-home{
		left: inherit;
		right: 0px;
		border-right: 0;
		border-left: 876px solid transparent;
	}
}

@media only screen and (min-width: 1601px) and (max-width: 1680px){
	.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-top-width: 757px;
		border-right-width: 757px;
	}
	.rtl.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-left-width: 757px;
		border-right-width: 0;
	}
}
@media only screen and (min-width: 1441px) and (max-width: 1600px){
	.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-top-width: 747px;
		border-right-width: 747px;
	}
	.rtl.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-left-width: 747px;
		border-right-width: 0;
	}
}
@media only screen and (min-width: 1401px) and (max-width: 1440px){
	.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-top-width: 737px;
		border-right-width: 737px;
	}
	.rtl.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-left-width: 737px;
		border-right-width: 0;
	}
}
@media only screen and (min-width: 1367px) and (max-width: 1400px){
	.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-top-width: 716px;
		border-right-width: 716px;
	}
	.rtl.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-left-width: 716px;
		border-right-width: 0;
	}
}
@media only screen and (min-width: 1281px) and (max-width: 1366px){
	.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-top-width: 660px;
		border-right-width: 660px;
	}
	.rtl.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-left-width: 660px;
		border-right-width: 0;
	}
}
@media only screen and (min-width: 1201px) and (max-width: 1280px){
	.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-top-width: 600px;
		border-right-width: 600px;
	}
	.rtl.ts-headerstyle-1.ts-slider-yes #ts-home{
		border-left-width: 600px;
		border-right-width: 0;
	}
}