.ts-clientbox-style-2 .themestek-item-thumbnail{
	border: 2px solid #e9e9e9;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0 15px;
	display: table;
	width: 100%;
}
.ts-clientbox-style-2 .themestek-item-thumbnail .themestek-item-thumbnail-inner{
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.ts-clientbox-style-2:hover .themestek-item-thumbnail{
	border-color: var(--tste-labtechco-skincolor);
}
.ts-custom-fidbox-2 .ts-fidbox-style-2 .ts-fid-title{
	font-size: 16px;
}