.ts-ihbox-style-1{
	padding: 30px 25px;
	background: #fff;
	padding-bottom: 0px;
}
.ts-ihbox-style-1 .ts-ihbox-content,
.ts-ihbox-style-1 .ts-cta3-content-wrapper{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 20px;
}
.ts-ihbox-style-1 .ts-ihbox-icon-wrapper{
	margin-bottom: 15px;
}
.ts-ihbox-style-1 .ts-ihbox-heading{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 8px 0 10px;
}
.ts-ihbox-style-1 .ts-ihbox-contents{
	display: inline-block;
}
.ts-bgcolor-darkgrey .ts-ihbox-style-1 h2,
.ts-bgcolor-skincolor .ts-ihbox-style-1 h2{
	color: #031b4e;
}