.ts-ihbox-style-19{
	padding: 40px;
	background: #fff;
}
.ts-bgcolor-transparent .ts-ihbox-style-19,
.ts-bgcolor-white .ts-ihbox-style-19{
	box-shadow: -3px 2px 7px 0px rgba(0, 0, 0, 0.1);
}
.ts-ihbox-style-19 .ts-ihbox-svg-wrapper,
.ts-ihbox-style-19 .ts-ihbox-icon-wrapper{
	position: relative;
	margin-bottom: 25px;
	padding: 0 0 10px 10px;
}
.ts-ihbox-style-19 .ts-ihbox-svg-wrapper::before,
.ts-ihbox-style-19 .ts-ihbox-icon-wrapper::before{
	content: '';
	width: 41px;
	height: 41px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: var(--tste-labtechco-skincolor);
}
.rtl .ts-ihbox-style-19 .ts-ihbox-svg-wrapper::before,
.rtl .ts-ihbox-style-19 .ts-ihbox-icon-wrapper::before{
	right: 0;
	left: inherit;
}
.ts-ihbox-style-19.ts-ihbox .ts-ihbox-contents .ts-ihbox-heading,
.ts-ihbox-style-19.ts-ihbox .ts-vc_general.ts-vc_cta3 h2.ts-custom-heading{
	font-size: 19px;
	line-height: 24px;
	text-transform: none;
	margin: 0 0 20px 0;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: var(--tste-labtechco-skincolor-dark);
}
.ts-ihbox-style-19 .ts-ihbox-content,
.ts-ihbox-style-19 .ts-cta3-content-wrapper{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: #666;
}
.ts-ihbox-style-19 .ts-ihbox-icon-wrapper.ts-ihbox-icon-type-image{
	width: 70px;
	height: 70px;
}
.ts-ihbox-style-19 .ts-ihbox-icon-wrapper.ts-ihbox-icon-type-text{
	font-size: 60px;
	line-height: 60px;
	color: var(--tste-labtechco-skincolor-dark);
}
.ts-ihbox-style-19 .ts-ihbox-icon .ts-ihbox-icon-wrapper svg,
.ts-ihbox-style-19 .ts-ihbox-svg .ts-ihbox-svg-wrapper svg{
	fill: #333;
}
/*=== Responsive ===*/
@media (min-width: 992px) and (max-width: 1200px){
	.ts-ihbox-style-19{
		padding-left: 30px;
		padding-right: 30px;
	}
}