.ts-ihbox-style-5{
	margin-bottom: 10px;
}
.ts-ihbox-style-5 .ts-ihbox-icon-type-text{
	font-size: 24px;
	font-weight: 700;
}
.ts-ihbox-style-5 .ts-ihbox-heading-with-icon{
	display: table;
}
.ts-ihbox-style-5 .ts-ihbox-icon,
.ts-ihbox-style-5 .ts-ihbox-heading{
	display: table-cell;
	vertical-align: middle;
}
.ts-ihbox-style-5 .ts-ihbox-heading{
	padding-left: 15px;
}
.ts-ihbox-style-5 .ts-ihbox-heading h2{
	margin: 0 !important;
	margin-bottom: 5px !important
}
.ts-ihbox-style-5 .ts-ihbox-heading h4{
	margin-bottom: 0 !important;
	color: rgba(255, 255, 255, 0.90);
}
.ts-ihbox-style-5 .ts-cta3-content-wrapper{
	margin-top: 15px;
}
.ts-bgcolor-skincolor .ts-ihbox-style-5 .ts-ihbox-heading h4{
	color: rgba(255, 255, 255, 0.80) !important;
}
.ts-bgcolor-skincolor .ts-ihbox.ts-ihbox-style-5 i,
.ts-col-bgcolor-skincolor .ts-ihbox.ts-ihbox-style-5 i{
	color: #fff;
}
.ts-skincolor-ihbox .ts-ihbox-style-5 .ts-vc_general.ts-vc_cta3 .ts-custom-heading,
.ts-skincolor-ihbox .ts-ihbox-style-5 .ts-ihbox-contents .ts-ihbox-heading{
	text-transform: none;
	font-size: 24px;
	line-height: 34px;
}
.ts-col-bgcolor-darkgrey .ts-ihbox-style-5.ts-ihbox i,
.ts-skincolor-ihbox .ts-ihbox.ts-ihbox-style-5 i{
	color: var(--tste-labtechco-skincolor);
}
.ts-ihbox-style-5 .ts-ihbox-contents .ts-ihbox-subheading{
	font-size: 13px!important;
	font-weight: 400;
	line-height: 15px!important;
	text-transform: none!important;
	margin: 8px 0 10px;
}
.ts-ihbox-style-5.ts-ihbox .ts-ihbox-contents h2.ts-ihbox-heading{
	padding-left: 0 !important;
}
.rtl .ts-ihbox-style-5.ts-ihbox .ts-ihbox-contents h2.ts-ihbox-heading{
	padding-right: 0!important;
}
.rtl .ts-ihbox-style-5 .ts-ihbox-heading{
	padding-right: 15px;
	padding-left: 0;
}
.ts-ihbox-style-5 .ts-ihbox-content{
	margin-top: 10px;
}