.ts-ihbox.ts-ihbox-style-12,
.ts-ihbox.ts-ihbox-style-12 .ts-vc_general .ts-vc_cta3_content-container .ts-vc_cta3-content{
	text-align: center;
}
.ts-ihbox.ts-ihbox-style-12 .ts-ihbox-contents{
	margin-top: 40px;
}
.elementor-widget-ts_icon_heading .ts-ihbox.ts-ihbox-style-12 .ts-ihbox-contents{
	margin-top: 48px;
}
.ts-ihbox.ts-ihbox-style-12{
	padding: 30px 40px 23px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.08);
}
.ts-ihbox-style-12 .ts-ihbox-inner .ts-ihbox-contents .ts-ihbox-heading,
.ts-ihbox-style-12 .ts-vc_general.ts-vc_cta3 .ts-custom-heading{
	font-size: 20px;
	line-height: 28px;
	text-transform: none;
	margin-bottom: 15px;
}
.ts-ihbox-style-12 .ts-ihbox-content,
.ts-ihbox-style-12 .ts-cta3-content-wrapper{
	color: #716c80;
	margin-bottom: 15px;
}
.ts-bgcolor-darkgrey .ts-ihbox-style-12 h2,
.ts-bgcolor-skincolor .ts-ihbox-style-12 h2{
	color: #031b4e;
}
.ts-ihbox.ts-ihbox-style-12 .ts-ihbox-btn a,
.ts-ihbox.ts-ihbox-style-12 .ts-vc_general.ts-vc_btn3{
	font-size: 15px;
	text-transform: none;
	letter-spacing: 0;
}
.ts-ihbox.ts-ihbox-style-12 .ts-vc_btn3.ts-vc_btn3-style-text.ts-vc_btn3-size-md{
	padding-right: 20px;
}
.ts-ihbox-style-12 .ts-vc_btn3-icon.fa.fa-angle-right{
	width: 15px;
	height: 15px;
	text-align: center;
	font-size: 15px;
	line-height: 14px;
	font-weight: 600;
	color: #fff;
	border-radius: 50%;
	background-color: var(--tste-labtechco-skincolor-dark);
}
.ts-ihbox.ts-ihbox-style-12 .ts-ihbox-btn a,
.ts-ihbox.ts-ihbox-style-12 .ts-vc_btn3.ts-vc_btn3-style-text.ts-vc_btn3-size-md{
	color: var(--tste-labtechco-skincolor) !important;
}
.ts-ihbox-style-12 .ts-vc_btn3-icon.fa.fa-angle-right{
	background-color: var(--tste-labtechco-skincolor);
}
.ts-ihbox-style-12 .ts-vc_btn3:hover .ts-vc_btn3-icon.fa.fa-angle-right,
.ts-ihbox-style-12 .ts-vc_btn3-icon.fa.fa-angle-right:hover{
	background-color: var(--tste-labtechco-skincolor-dark);
}
.ts-ihbox.ts-ihbox-style-12 .ts-ihbox-btn a:hover,
.ts-ihbox.ts-ihbox-style-12 .ts-vc_btn3.ts-vc_btn3-style-text.ts-vc_btn3-size-md:hover{
	color: var(--tste-labtechco-skincolor-dark) !important;
}
.ts-ihbox.ts-ihbox-style-12 .ts-ihbox-btn a::after{
	content: '\e87a';
	font-size: 16px;
	margin: 0 0 0 5px;
}
.rtl .ts-ihbox.ts-ihbox-style-12 .ts-ihbox-btn a::after{
	margin: 0 5px 0 0;
}

@media (min-width: 768px) and (max-width: 991px){
	.ts-ihbox.ts-ihbox-style-12.ts-ihbox-itype-icon{
		padding-left: 20px;
		padding-right: 20px;
	}
}