.ts-ihbox-style-17 .ts-ihbox-icon-type-text::before,
.ts-ihbox-style-17 .ts-ihbox-icon-type-text::after{
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ts-ihbox.ts-ihbox-style-17 .ts-ihbox-icon-type-text{
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 20px;
	position: relative;
}
.ts-ihbox-style-17 .ts-ihbox-icon-type-text::before{
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: rgba(var(--tste-labtechco-skincolor-rgb), 0.8);
}
.rtl .ts-ihbox-style-17 .ts-ihbox-icon-type-text::before{
	left: 0;
	right: inherit;
}
.ts-bgcolor-skincolor:not(.ts-textcolor-white) .ts-ihbox-style-17 .ts-ihbox-icon-type-text::before{
	background-color: rgba(var(--tste-labtechco-skincolor-dark-rgb), 0.8);
}
.ts-textcolor-white .ts-ihbox-style-17 .ts-ihbox-icon-type-text::before{
	background-color: rgba(255, 255, 255, 0.8);
}
.ts-ihbox-style-17 .ts-ihbox-icon-type-text::after{
	content: '';
	height: 1px;
	width: calc(100% - 12px);
	z-index: 1;
	position: absolute;
	bottom: 5px;
	left: 0;
}
.rtl .ts-ihbox-style-17 .ts-ihbox-icon-type-text::after{
	right: 0;
	left: inherit;
}
.ts-ihbox-style-17:hover .ts-ihbox-icon-type-text::after{
	width: calc(70% - 12px);
}
.ts-ihbox-style-17:hover .ts-ihbox-icon-type-text::before{
	right: 30%;
}
.rtl .ts-ihbox-style-17:hover .ts-ihbox-icon-type-text::before{
	left: 30%;
	right: inherit;
}
.ts-ihbox-style-17.ts-ihbox .ts-ihbox-contents .ts-ihbox-heading,
.ts-ihbox-style-17.ts-ihbox .ts-vc_general.ts-vc_cta3 .ts-custom-heading{
	font-size: 22px;
	line-height: 30px;
	text-transform: none;
	margin: 10px 0 5px;
}
.ts-ihbox-style-17.ts-ihbox .ts-ihbox-content,
.ts-ihbox-style-17.ts-ihbox .ts-cta3-content-wrapper{
	margin-top: 25px;
}
.ts-ihbox-style-17 .ts-ihbox-icon-type-text::after,
.ts-ihbox-style-17 .ts-vc_cta3-headers:after{
	background-color: rgba(var(--tste-labtechco-skincolor-rgb), 0.3);
}
.ts-bgcolor-skincolor:not(.ts-textcolor-white) .ts-ihbox-style-17 .ts-ihbox-icon-type-text::after,
.ts-bgcolor-skincolor:not(.ts-textcolor-white) .ts-ihbox-style-17 .ts-vc_cta3-headers:after{
	background-color: rgba(var(--tste-labtechco-skincolor-dark-rgb), 0.3);
}
.ts-textcolor-white .ts-ihbox-style-17 .ts-ihbox-icon-type-text::after,
.ts-textcolor-white .ts-ihbox-style-17 .ts-vc_cta3-headers:after{
	background-color: rgba(255, 255, 255, 0.3);
}
.ts-bgcolor-skincolor .ts-ihbox-style-17 .ts-icon-skincolor i{
	color: #fff;
}
.ts-textcolor-white .ts-ihbox-style-17 .ts-ihbox-content,
.ts-textcolor-white .ts-ihbox-style-17 .ts-cta3-content-wrapper{
	color: rgba(255, 255, 255, 0.7);
}
.ts-textcolor-white .ts-ihbox.ts-ihbox-style-17 a > i{
	color: #fff;
}
.ts-ihbox-style-17 .ts-ihbox-icon-wrapper.ts-ihbox-icon-type-image{
	width: 60px;
	height: 60px;
}