.ts-ihbox.ts-ihbox-style-11  .ts-ihbox-icon,
.ts-ihbox.ts-ihbox-style-11  .ts-ihbox-contents{
	display: table-cell;
	vertical-align: top;
}
.ts-ihbox.ts-ihbox-style-11{
	position: relative;
}
.ts-ihbox.ts-ihbox-style-11::after{
	font-size: 24px;
	line-height: 34px;
	font-family: 'Roboto Condensed';
	color: #dbdbdb;
}
.ts-ihbox-style-11 .ts-ihbox-svg-wrapper,
.ts-ihbox-style-11 .ts-ihbox-icon-wrapper{
	position: relative;
}
.ts-ihbox-style-11 .ts-ihbox-svg-wrapper::after,
.ts-ihbox-style-11 .ts-ihbox-icon-wrapper::after{
	position: absolute;
	content: "";
	right: -15px;
	bottom: -15px;
	width: 60px;
	z-index: -1;
	height: 60px;
	background-color: #f4fafa;
}
.rtl .ts-ihbox-style-11 .ts-ihbox-svg-wrapper::after,
.rtl .ts-ihbox-style-11 .ts-ihbox-icon-wrapper::after{
	left: -15px;
	right: inherit;
}
.ts-ihbox.ts-ihbox-style-11.ts-ihbox-itype-icon{
	padding: 40px 40px 10px;
	border: 1px solid #eee;
	margin-bottom: 30px;
}
.ts-ihbox-style-11 .ts-ihbox-contents{
	position: relative;
	padding-top: 25px;
	padding-left: 35px;
}
.rtl .ts-ihbox-style-11 .ts-ihbox-contents{
	padding-right: 35px;
	padding-left: 0;
}
.ts-ihbox-style-11.ts-ihbox .ts-vc_general.ts-vc_cta3 .ts-custom-heading,
.ts-ihbox-style-11.ts-ihbox .ts-ihbox-contents .ts-ihbox-heading{
	font-size: 22px;
	line-height: 32px;
	text-transform: none;
}
.ts-ihbox-style-11 h4.ts-custom-heading,
.ts-ihbox-style-11.ts-ihbox .ts-ihbox-contents .ts-ihbox-subheading{
	position: absolute;
	top: 5px;
}
.ts-ihbox-style-11.ts-ihbox .ts-ihbox-contents .ts-ihbox-subheading{
	margin: 8px 0 10px 0;
}
.ts-ihbox-style-11 .ts-ihbox-inner > .ts-cta3-content-wrapper,
.ts-ihbox-style-11 .ts-ihbox-inner > .ts-ihbox-content{
	margin-top: 25px;
	padding-top: 25px;
	margin-bottom: 10px;
	border-top: 1px solid #eee;
}
.ts-ihbox-style-11 .ts-vc_general.ts-vc_cta3.ts-vc_cta3-color-transparent.ts-cta3-only .ts-vc_cta3-content .ts-vc_cta3-headers h4,
.ts-ihbox-style-11 .ts-ihbox-contents h4.ts-ihbox-subheading{
	text-transform: uppercase!important;
	font-weight: 600;
}
.ts-ihbox-style-11 .ts-ihbox-contents h4.ts-ihbox-subheading{
	font-size: 13px;
}
.ts-ihbox-style-11 .ts-ihbox-inner .ts-ihbox-btn a,
.ts-ihbox-style-11.ts-ihbox .ts-vc_general.ts-vc_btn3{
	font-size: 12px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 0;
}
.ts-ihbox-style-11.ts-ihbox .ts-vc_general.ts-vc_btn3{
	padding-right: 20px !important;
}
.ts-ihbox-style-11 .ts-ihbox-icon-wrapper i::before{
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} 
.ts-ihbox.ts-ihbox-style-11:after{
	content: counter(item, decimal-leading-zero) " ";
	counter-increment: item;
	position: absolute;
	top: 15px;
	right: 15px;
	width: 32px;
	border-radius: 50%;
	height: 32px;
	font-weight: 600;
}
.rtl .ts-ihbox.ts-ihbox-style-11:after{
	left: 15px;
	right: inherit;
}
.ts-ihbox.ts-ihbox-style-11 .ts-vc_general.ts-vc_btn3.ts-vc_btn3-icon-right .ti-arrow-circle-right,
.ts-ihbox-style-11 .ts-vc_general.ts-vc_cta3.ts-vc_cta3-color-transparent.ts-cta3-only .ts-vc_cta3-content .ts-vc_cta3-headers h4,
.ts-ihbox-style-11 .ts-ihbox-contents h4.ts-ihbox-subheading,
.ts-ihbox.ts-ihbox-style-11 .ts-ihbox-btn a::after{
	color: var(--tste-labtechco-skincolor);
}
.ts-ihbox.ts-ihbox-style-11 .ts-ihbox-btn a::after{
	margin-left: 10px;
}
.ts-ihbox-style-11.ts-ihbox .ts-vc_general.ts-vc_btn3:hover,
.ts-ihbox-style-11.ts-ihbox .ts-ihbox-btn a:hover{
	color: var(--tste-labtechco-skincolor) !important;
}
.ts-ihbox-style-11 .ts-ihbox-icon-wrapper i::before{
	background-image: -ms-linear-gradient(bottom, var(--tste-labtechco-first-gradient) 0%, var(--tste-labtechco-second-gradient) 100%);
	background-image: linear-gradient(to bottom, var(--tste-labtechco-first-gradient) , var(--tste-labtechco-second-gradient) );
}
.ts-ihbox-style-11 .ts-ihbox-icon .ts-ihbox-icon-wrapper svg,
.ts-ihbox-style-11 .ts-ihbox-svg .ts-ihbox-svg-wrapper svg{
	fill: var(--tste-labtechco-first-gradient);
}

@media (max-width: 1024px){
	.ts-ihbox.ts-ihbox-style-11.ts-ihbox-itype-icon{
		padding-left: 20px;
		padding-right: 20px;
	}
}