.ts-testimonialbox-style-6.themestek-box-testimonial{
	padding-bottom: 80px;
	padding-left: 30px;
	margin: 15px 0;
	padding-top: 20px;
	position: relative;
}
.rtl .ts-testimonialbox-style-6.themestek-box-testimonial{
	padding-right: 30px;
	padding-left: 0;
}
.ts-testimonialbox-style-6.themestek-box-testimonial .themestek-post-item{
	position: relative;
	padding: 60px 45px 85px;
	border-radius: 6px;
	text-align: center;
	background-color: #fff;
	overflow: visible;
	box-shadow: 0px 0px 24px 0px rgba(43, 76, 142, 0.08);
}
.ts-testimonialbox-style-6.themestek-box-testimonial .themestek-post-item::before{
	position: absolute;
	content: "\e84a";
	top: -25px;
	left: -35px;
	font-size: 25px;
	line-height: 70px;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	font-family: "ts-labtechco-icons";
	color: #fff;
}
.rtl .ts-testimonialbox-style-6.themestek-box-testimonial .themestek-post-item::before{
	right: -35px;
	left: inherit;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.ts-testimonialbox-style-6.themestek-box-testimonial .themestek-box-img img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.ts-testimonialbox-style-6.themestek-box-testimonial .themestek-item-thumbnail-inner{
	display: inline-block;
}
.ts-testimonialbox-style-6.themestek-box-testimonial .themestek-testimonial-text{
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
	font-weight: 400;
}
.ts-testimonialbox-style-6.themestek-box .themestek-box-desc{
	margin-bottom: 20px;
}
.ts-testimonialbox-style-6.themestek-box-testimonial .themestek-box-author{
	position: absolute;
	left: 0;
	bottom: -180px;
	width: 100%;
}
.ts-testimonialbox-style-6 .themestek-box-star i::before{
	font-size: 1.2em;
	margin: 0 -.1em;
}
.ts-bgcolor-skincolor .themestek-box-testimonial .themestek-author-name,
.ts-bgcolor-skincolor .ts-testimonialbox-style-6 .themestek-box-footer,
.ts-textcolor-white .ts-testimonialbox-style-6 .themestek-box-footer{
	color: var(--tste-labtechco-skincolor-light);
}
.ts-testimonialbox-style-6 .themestek-box-author-center h3.themestek-author-name{
	font-size: 18px;
	text-transform: none;
}
.ts-testimonialbox-style-6 .themestek-box-footer{
	color: var(--tste-labtechco-skincolor-dark);
} 
.ts-testimonialbox-style-6 .themestek-box-star i{
	color: var(--tste-labtechco-skincolor-dark);
}
.ts-testimonialbox-style-6 .themestek-post-item::before{
	background-color: var(--tste-labtechco-skincolor);
}

@media (max-width: 768px){
	.ts-testimonialbox-style-6.themestek-box-testimonial .themestek-post-item{
		padding-left: 30px;
		padding-right: 30px;
	}
}