.ts-testimonialbox-style-3.themestek-box-testimonial .themestek-box-content{
	padding-top: 0;
	padding-bottom: 0;
}
.ts-testimonialbox-style-3.themestek-box-testimonial .themestek-box-content .themestek-testimonial-text{
	font-size: 18px;
	font-style: normal;
	line-height: 28px;
	font-weight: 500;
}
.ts-testimonialbox-style-3.themestek-box-testimonial .themestek-box-content .themestek-box-img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: -80px;
	margin-top: 15px;
} 
.ts-testimonialbox-style-3.themestek-box-testimonial .themestek-box-content::after{
	display: none;
}
.ts-arrow-right.ts-boxes-carousel-arrows-below .themestek-boxes-row-wrapper .slick-prev,
.ts-arrow-right.ts-boxes-carousel-arrows-below .themestek-boxes-row-wrapper .slick-next{
	right: 35px;
	left: auto;
	bottom: 30px;
}
.ts-testimonialbox-style-3.themestek-box-testimonial .themestek-box-content{
	padding: 40px 30px;
}
.ts-testimonialbox-style-3.themestek-box .themestek-post-item{
	overflow: visible;
	display: flex;
	align-items: center;
	background: #fff;
}
.ts-testimonialbox-style-3 .themestek-box-desc{
	margin-bottom: 30px !important;
}
.ts-testimonialbox-style-3 .themestek-box-img{
	padding-bottom: 0;
	min-width: 260px;
}
.ts-testimonialbox-style-3.themestek-box-testimonial .themestek-box-content:after,
.ts-testimonialbox-style-3.themestek-box-testimonial .themestek-box-content .themestek-author-name,
.ts-testimonialbox-style-3.themestek-box-testimonial .themestek-box-content .themestek-author-name a{
	color: var(--tste-labtechco-skincolor);
}
.themestek-boxes-element-testimonial-style-3 .themestek-boxes-row-wrapper .slick-next::before,
.themestek-boxes-element-testimonial-style-3 .themestek-boxes-row-wrapper .slick-prev::before{
	margin: 0;
	width: 100%;
	text-align: center;
}

@media(max-width:767px){
	.ts-testimonialbox-style-3.themestek-box .themestek-post-item{
		display: block;
	}
	.ts-testimonialbox-style-3 .themestek-box-img{
		text-align: center;
		width: 100%;
	}
	.ts-testimonialbox-style-3 .themestek-item-thumbnail{
		display: inline-block;
	}
}