.ts-portfoliobox-style-2 .themestek-item-thumbnail-inner{
	overflow: hidden;
	position: relative;
}
.ts-portfoliobox-style-2 .themestek-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	text-align: left;
	opacity: 0;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	background: rgba(80, 173, 255, 0.70);
}
.ts-portfoliobox-style-2:hover .themestek-overlay{
	opacity: 1;
	transition: all 500ms ease;
}
.ts-portfoliobox-style-2 .themestek-overlay::before,
.ts-portfoliobox-style-2 .themestek-overlay::after{
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
}
.ts-portfoliobox-style-2 .themestek-overlay::before{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}
.ts-portfoliobox-style-2 .themestek-overlay::after{
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
}
.ts-portfoliobox-style-2 .themestek-overlay:hover::before,
.ts-portfoliobox-style-2 .themestek-overlay:hover::after{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.ts-portfoliobox-style-2 .themestek-overlay{
	background-color: rgb(var(--tste-labtechco-skincolor-rgb), 0.7);
}