.ts-portfoliobox-style-9,
.ts-portfoliobox-style-9 .themestek-box-link a,
.ts-portfoliobox-style-9 .themestek-pf-box-title{
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.ts-portfoliobox-style-9.themestek-box-portfolio .themestek-pf-box-title h3{
	font-size: 72px;
	line-height: 72px;
	font-weight: 700;
	text-transform: inherit;
	margin: 0;
}
.ts-portfoliobox-style-9.themestek-box-portfolio .themestek-pf-box-title h3 a{
	color: transparent;
	-webkit-text-stroke: 1px var(--tste-labtechco-skincolor-dark);
}
.ts-portfoliobox-style-9 .themestek-box-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ts-portfoliobox-style-9.themestek-box-portfolio .themestek-post-item{
	position: relative;
	overflow: inherit;
	padding: 34px 0;
	border-bottom: 1px solid rgba(var(--tste-labtechco-skincolor-dark-rgb), 0.2);
}
.ts-portfoliobox-style-9 .themestek-box-link a{
	font-size: 20px;
	line-height: 20px;
	color: var(--tste-labtechco-skincolor-dark);
}
.ts-portfoliobox-style-9 .themestek-box-link a i{
	display: inline-block;
}
.rtl .ts-portfoliobox-style-9 .themestek-box-link a i{
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.ts-portfoliobox-style-9 .themestek-box-link{
	align-self: flex-end;
	margin-bottom: 10px;
}
.ts-portfoliobox-style-9 .themestek-item-thumbnail-inner{
	opacity: 0;
	visibility: hidden;
	transition: all 500ms ease;
	position: absolute;
	transform: scale(0);
	bottom: -70px;
	right: 70px;
	z-index: 10;
	height: 440px;
	width: 310px;
}
.rtl .ts-portfoliobox-style-9 .themestek-item-thumbnail-inner{
	left: 70px;
	right: inherit;
}
.ts-portfoliobox-style-9:hover .themestek-item-thumbnail-inner{
	opacity:1;
	visibility: visible;
	transform: scale(1);
}
.ts-bgcolor-skincolor .ts-portfoliobox-style-9.themestek-box-portfolio .themestek-pf-box-title h3 a,
.ts-bgcolor-darkgrey .ts-portfoliobox-style-9.themestek-box-portfolio .themestek-pf-box-title h3 a{
	-webkit-text-stroke-color: #fff;
}
.ts-bgcolor-skincolor .ts-portfoliobox-style-9 .themestek-box-link a,
.ts-bgcolor-darkgrey .ts-portfoliobox-style-9 .themestek-box-link a{
	color: #fff;
}
.ts-portfoliobox-style-9:hover .themestek-box-link a{
	color: var(--tste-labtechco-skincolor);
}
.ts-portfoliobox-style-9.themestek-box-portfolio:hover .themestek-pf-box-title h3 a{
	color: var(--tste-labtechco-skincolor);
	-webkit-text-stroke-color: transparent;
}
.ts-bgcolor-skincolor .ts-portfoliobox-style-9:hover .themestek-box-link a,
.ts-bgcolor-skincolor .ts-portfoliobox-style-9.themestek-box-portfolio:hover .themestek-pf-box-title h3 a{
	color: var(--tste-labtechco-skincolor-dark);
}
.ts-bgcolor-skincolor .ts-portfoliobox-style-9 .themestek-post-item,
.ts-bgcolor-darkgrey .ts-portfoliobox-style-9 .themestek-post-item{
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

/*=== Responsive ===*/
@media (max-width: 575px){
	.ts-portfoliobox-style-9 .themestek-box-content{
		flex-direction: column;
		align-items: start;
	}
	.ts-portfoliobox-style-9 .themestek-box-link{
		margin: 20px 0 0;
	}
	.ts-portfoliobox-style-9.themestek-box-portfolio .themestek-pf-box-title h3{
		font-size: 45px;
		line-height: 45px;
	}
	.ts-portfoliobox-style-9 .themestek-box-link{
		align-self: auto;
	}
	.ts-portfoliobox-style-9 .themestek-item-thumbnail-inner{
		height: 345px;
		width: 230px;
		right: 0;
	}
	.rtl .ts-portfoliobox-style-9 .themestek-item-thumbnail-inner{
		left: 0;
	}
}