.ts-portfoliobox-style-7 .themestek-post-item{
	position: relative;
	overflow: hidden;
}
.themestek-boxes-view-default.themestek-boxes-col-two .ts-portfoliobox-style-7 .themestek-item-thumbnail{
	position: relative;
	background-color: #fff;
	opacity: 0;
	padding-bottom: 110%;
	-webkit-clip-path: inset(0 15%);
	clip-path: inset(0 15%);
	transform: translate3d(0, 150px, 0);
	transition: opacity 1s cubic-bezier(.25, .85, .57, 1), transform 1s cubic-bezier(.25, .85, .57, 1), -webkit-clip-path 1s cubic-bezier(.25, .85, .57, 1);
	transition: opacity 1s cubic-bezier(.25, .85, .57, 1), transform 1s cubic-bezier(.25, .85, .57, 1), clip-path 1s cubic-bezier(.25, .85, .57, 1);
	transition: opacity 1s cubic-bezier(.25, .85, .57, 1), transform 1s cubic-bezier(.25, .85, .57, 1), clip-path 1s cubic-bezier(.25, .85, .57, 1), -webkit-clip-path 1s cubic-bezier(.25, .85, .57, 1);
}
.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two .ts-box-col-wrapper.active .themestek-item-thumbnail,
.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two .ts-box-col-wrapper:hover .themestek-item-thumbnail, /*For VC frontend view*/
.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two .ts-box-col-wrapper .themestek-item-thumbnail, 
.elementor-edit-mode .themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two .ts-box-col-wrapper:hover .themestek-item-thumbnail, /*For elementor backed editor*/
.elementor-edit-mode .themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two .ts-box-col-wrapper .themestek-item-thumbnail{
	opacity: 1;
	-webkit-clip-path: inset(0 0);
	clip-path: inset(0 0);
	transform: translateZ(0);
}
.themestek-boxes-view-default.themestek-boxes-col-two .ts-portfoliobox-style-7 .themestek-item-thumbnail-inner{
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: calc(110% + 80px);
	transform: translate3d(0, -40px, 0);
}
.ts-portfoliobox-style-7 .themestek-item-thumbnail-inner img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two .row .ts-box-col-wrapper:nth-child(2n){
	margin-top: 80px;
}
.themestek-boxes-view-default.themestek-boxes-col-two .ts-portfoliobox-style-7 .themestek-pf-box-title{
	margin-top: 45px;
	opacity: 0;
	transform: translate3d(0, 150px, 0);
	transition: opacity 1s cubic-bezier(.25, .85, .57, 1) .4s, transform 1s cubic-bezier(.25, .85, .57, 1) .4s;
}
.elementor-edit-mode .themestek-boxes-view-default.themestek-boxes-col-two .ts-portfoliobox-style-7 .themestek-pf-box-title{
	margin-top: 0px;
}
.themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-element-portfolio-style-7 .ts-box-col-wrapper.active .themestek-pf-box-title,
.elementor-edit-mode .themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-element-portfolio-style-7 .ts-box-col-wrapper:hover .themestek-pf-box-title,
.elementor-edit-mode .themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-element-portfolio-style-7 .ts-box-col-wrapper .themestek-pf-box-title{
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
.ts-portfoliobox-style-7.themestek-box-portfolio .themestek-pf-box-title h3{
	margin-bottom: 0;
	font-size: 28px;
	line-height: 40px;
	text-transform: inherit;
}
.ts-portfoliobox-style-7.themestek-box .themestek-box-category a{
	font-size: 14px;
	letter-spacing: 1px;
}

/*=== pbminfotech-gap-30px ===*/
.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two .row{
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
}
.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two .themestek-boxes-element-portfolio-style-7 .row .ts-box-col-wrapper{
	margin-bottom: 1.125rem;
}
.ts-portfoliobox-style-7 .ts-port-cat a{
	color: #666;
	text-transform: uppercase;
	font-size: 14px;
	line-height: normal;
	letter-spacing: 1px;
}
.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(odd){
	padding-right: 70px;
	padding-left: 0;
}
.rtl .themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(odd){
	padding-left: 70px;
	padding-right: 0;
}
.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(even){
	padding-right: 0;
	padding-left: 70px;
}
.rtl .themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(even){
	padding-left: 0;
	padding-right: 70px;
}

@media(max-width:1024px){
	.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(odd){
		padding-right: 20px;
	}
	.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(even){
		padding-left: 20px;
	}
}

@media(max-width:767px){
	.themestek-boxes-element-portfolio-style-7 .row{
		justify-content: unset;
	}
	.themestek-boxes-element-portfolio-style-7 .row .ts-box-col-wrapper{
		width: 100%;
	}
	.themestek-boxes-element-portfolio-style-7 .row .ts-ele:nth-child(2n){
		margin-top: 40px;
	}
	.themestek-boxes-element-portfolio-style-7 .ts-element-posts-wrapper .row{
		margin: 0;
	}
	.themestek-boxes-element-portfolio-style-7 .ts-element-posts-wrapper .row .ts-portfoliobox-style-7{
		padding: 0;
	}
	.themestek-boxes-element-portfolio-style-7 .row .ts-box-col-wrapper:nth-child(2n){
		margin-top: 0;
	}
	.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(even){
		padding-left: 0;
	}
	.themestek-boxes-element-portfolio-style-7.themestek-boxes-view-default.themestek-boxes-col-two.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(odd){
		padding-right: 0;
	}
}