.ts-servicebox-style-9::before{
	counter-increment: tsbox3;
	content: counter( tsbox3, decimal-leading-zero);
	font-size: 30px;
	position: absolute;
	font-weight: 300 !important;
	top: 10px;
	left: 0;
	color: var(--tste-labtechco-skincolor-dark);
}
.rtl .ts-servicebox-style-9::before{
	right: 0;
	left: inherit;
}
.themestek-boxes-element-service-style-9 .themestek-boxes-row-wrapper.row:not(.slick-slider) .ts-box-col-wrapper{
	margin-bottom: 40px;
}
.themestek-boxes-element-service-style-9 .ts-box-col-wrapper{
	position: relative;
	z-index: 1;
}
.themestek-boxes-element-service-style-9.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(odd){
	padding-right: 40px;
	padding-left: 0;
}
.themestek-boxes-element-service-style-9.themestek-boxes-col-two .ts-box-col-wrapper:nth-child(even){
	padding-right: 0px !important;
	padding-left: 40px !important;
}
.themestek-box.themestek-box-service.ts-servicebox-style-9{
	padding: 0 10px 30px 75px;
	border-bottom: 1px solid rgb(0 0 0 / 12%);
	position: relative;
}
.rtl .themestek-box.themestek-box-service.ts-servicebox-style-9{
	padding-left: 10px;
	padding-right: 75px;
}
.themestek-boxes-element-service-style-9 .ts-box-col-wrapper:last-child .ts-servicebox-style-9,
.themestek-boxes-element-service-style-9 .ts-box-col-wrapper:nth-last-child(2) .ts-servicebox-style-9{
	border: none;
}
.ts-servicebox-style-9 .themestek-hover-img{
	position: absolute;
	opacity: 0;
	margin-top: -100px;
	margin-left: 50px;
	transform: translateX(100%) scale(0.4);
	transform-origin: 50% 50%;
	width: 350px;
	height: auto;
	margin-top: -100px;
	margin-left: 70px;
	z-index: -1;
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.themestek-box.ts-servicebox-style-9 .themestek-box-content-inner{
	display: flex;
	justify-content: space-between!important;
	padding-top: 0;
}
.ts-servicebox-style-9.themestek-box .themestek-box-category a{
	color: var(--tste-labtechco-skincolor-dark);
	font-size: 14px;
	opacity: 0.7;
	letter-spacing: 1px;
}
.ts-servicebox-style-9.themestek-box .themestek-pf-box-title h3 a{
	font-size: 40px;
	line-height: 50px;
	color: var(--tste-labtechco-skincolor-dark);
	font-weight: 300 !important;
	text-transform: capitalize;
}
.ts-servicebox-style-9.themestek-box .ts-ihbox-icon i::before{
	font-size: 50px;
	line-height: 50px;
	opacity: 0.3;
}
.ts-servicebox-style-9 .themestek-box-content .ts-ihbox-icon img{
	width: 50px;
	height: auto;
	max-width: 50px;
	opacity: 0.3;
}
.ts-servicebox-style-9.themestek-box .ts-ihbox-icon{
	align-self: center!important;
	color: var(--tste-labtechco-skincolor-dark);
}
.ts-bg-change.ts-text-color-white .ts-servicebox-style-9::before,
.ts-bg-change.ts-text-color-white .ts-servicebox-style-9 .themestek-box-category a,
.ts-bg-change.ts-text-color-white .ts-servicebox-style-9 .themestek-pf-box-title h3 a,
div:not(.ts-bg-change).ts-textcolor-white .ts-servicebox-style-9.themestek-box .themestek-pf-box-title h3 a,
div:not(.ts-bg-change).ts-textcolor-white .ts-servicebox-style-9.themestek-box .themestek-box-category a,
div:not(.ts-bg-change).ts-textcolor-white .ts-servicebox-style-9::before,
div:not(.ts-bg-change).ts-textcolor-white .ts-servicebox-style-9.themestek-box .ts-ihbox-icon{
	color: #fff;
}
.ts-bg-change.ts-text-color-white .ts-servicebox-style-9 .ts-ihbox-icon{
	color: rgba(255, 255, 255, 1);
}
.ts-bg-change.ts-text-color-white .ts-servicebox-style-9{
	border-bottom: 1px solid rgb(255 255 255 / 32%);
}

/*=== Responsive ===*/
@media (max-width: 1200px){
	.themestek-boxes-element-service-style-9.themestek-boxes-col-two .ts-box-col-wrapper:nth-child(even){
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.themestek-boxes-element-service-style-9.themestek-boxes-spacing-50px.themestek-boxes-col-two .ts-box-col-wrapper{
		padding-left: 25px!important;
		padding-right: 25px!important;
	}
}

@media (max-width:1024px){
	.themestek-boxes-element-service-style-9.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(odd){
		padding-right: 20px;
	}
	.themestek-boxes-element-service-style-9.themestek-boxes-col-two .ts-box-col-wrapper:nth-child(even){
		padding-left: 20px !important;
	}
}

@media (max-width: 767px){
	.themestek-boxes-element-service-style-9.themestek-boxes-spacing-50px .themestek-boxes-row-wrapper.row .ts-box-col-wrapper:nth-child(odd),
	.themestek-boxes-element-service-style-9.themestek-boxes-col-two .ts-box-col-wrapper:nth-child(even){
		padding: 0 15px!important;
	}
	.ts-servicebox-style-9.themestek-box .themestek-pf-box-title h3 a{
		font-size: 35px;
	}
	.themestek-boxes-element-service-style-9 .ts-box-col-wrapper:not(:last-child) .themestek-box{
		border-bottom: 1px solid rgb(0 0 0 / 12%);
	}
	.themestek-boxes-element-service-style-9{
		padding-top: 30px;
	}
}

@media (max-width: 575px){
	.themestek-box.ts-servicebox-style-9 .themestek-box-content-inner{
		flex-direction: column-reverse;
	}
	.ts-servicebox-style-9.themestek-box .ts-ihbox-icon{
		align-self: flex-start!important;
		margin-bottom: 20px;
	}
}