.ts-servicebox-style-7.themestek-box .themestek-box-content-inner{
	position: relative;
}
.ts-servicebox-style-7 .ts-ihbox-icon.ts-large-icon{
	position: absolute;
	top: -33px;
	right: 15px;
	width: 60px;
	text-align: center;
	height: 60px;
	color: white;
	line-height: 60px;
}
.rtl .ts-servicebox-style-7 .ts-ihbox-icon.ts-large-icon{
	left: 15px;
	right: inherit;
}
.ts-servicebox-style-7 .ts-large-icon i::before{
	font-size: 34px;
}
.ts-servicebox-style-7 .themestek-box-content .ts-ihbox-icon img{
	width: 34px;
	height: auto;
}
.ts-servicebox-style-7.themestek-box-service .themestek-box-category a{
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
}
.ts-servicebox-style-7.themestek-box .themestek-pf-box-title h3{
	font-size: 23px;
	line-height: 32px;
	margin-bottom: 15px;
	text-transform: none;
}
.ts-bgcolor-darkgrey .ts-servicebox-style-7 .themestek-box-desc,
.ts-col-bgcolor-darkgrey .ts-servicebox-style-7 .themestek-box-desc{
	color: rgba(255,255,255,0.7);
	margin-bottom: 0;
}
.ts-servicebox-style-7 .themestek-box-desc p{
	margin-bottom: 12px;
}
.ts-servicebox-style-7 .themestek-box-link a{
	text-decoration: underline;
	text-underline-position: under;
	font-size: 12px;
	font-weight: 700;
}
.ts-servicebox-style-7 .ts-ihbox-icon.ts-large-icon{
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.ts-servicebox-style-7.themestek-box-service:hover .ts-ihbox-icon.ts-large-icon{
	background-color: #fff;
}
.ts-servicebox-style-7 .themestek-box-content-inner{
	padding-top: 25px;
}
.ts-servicebox-style-7.themestek-box-service .themestek-box-category a,
.ts-bgcolor-darkgrey .ts-servicebox-style-7.themestek-box-service.themestek-box .themestek-pf-box-title h3 a,
.ts-bgcolor-darkgrey .ts-servicebox-style-7.themestek-box-service .themestek-box-link a,
.ts-col-bgcolor-darkgrey .themestek-boxes .themestek-box-service.ts-servicebox-style-7 .themestek-pf-box-title h3 a, /*VC plugin css code*/
.ts-col-bgcolor-darkgrey .themestek-boxes .themestek-box-service.ts-servicebox-style-7 .themestek-box-link a{
	color: #fff;
}
.ts-servicebox-style-7.themestek-box-service.themestek-box .themestek-pf-box-title h3 a,
.ts-servicebox-style-7 .themestek-box-desc,
.ts-servicebox-style-7.themestek-box-service .themestek-box-link a{
	color: var(--tste-labtechco-skincolor-dark);
}
.ts-servicebox-style-7.themestek-box-service .themestek-box-category a,
.ts-servicebox-style-7.themestek-box-service .themestek-box-link a:hover,
.ts-servicebox-style-7.themestek-box-service:hover .ts-ihbox-icon.ts-large-icon{
	color: var(--tste-labtechco-skincolor);
}
.ts-servicebox-style-7.themestek-box-service .ts-ihbox-icon.ts-large-icon{
	background-color: var(--tste-labtechco-skincolor);
}