.ts-servicebox-style-3 .themestek-box-content{
	border: 1px solid #e1eeff;
}
.ts-servicebox-style-3 .themestek-box-content-inner{
	padding: 35px 25px;
	padding-bottom: 15px;
	text-align: center;
}
.ts-servicebox-style-3 .ts-large-icon{
	margin-bottom: 20px;
}
.ts-servicebox-style-3 .ts-large-icon i::before{
	font-size: 40px;
	line-height: 46px;
}
.ts-servicebox-style-3 .themestek-box-content .ts-ihbox-icon img{
	width: 40px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.entry-content .ts-servicebox-style-3.themestek-box h3{
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 15px;
}