.ts-servicebox-style-8 .ts-large-icon i::before{
	font-size: 34px;
}
.ts-servicebox-style-8 .themestek-box-content .ts-ihbox-icon img{
	width: 34px;
	height: auto;
}
.ts-servicebox-style-8.themestek-box .themestek-pf-box-title h3{
	text-transform: none;
}
.ts-servicebox-style-8.themestek-box-service .themestek-box-category a{
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}
.ts-servicebox-style-8.themestek-box-service .themestek-pf-box-title h3{
	font-size: 20px;
	line-height: 28px;
}
.ts-servicebox-style-8 .ts-ihbox-icon{
	color: #fff;
}
.ts-servicebox-style-8.themestek-box-service .themestek-box-category a{
	font-weight: 600;
}
.ts-servicebox-style-8{
	position: relative;
}
.ts-servicebox-style-8 .themestek-box-content-inner{
	display: flex;
	padding: 0;
	position: absolute;
	bottom: 0;
}
.ts-servicebox-style-8 .themestek-pf-box-title{
	padding: 15px 70px 12px 25px;
	background: #f6faff;
}
.rtl .ts-servicebox-style-8 .themestek-pf-box-title{
	padding-right: 25px;
	padding-left: 70px;
}
.ts-servicebox-style-8 .ts-ihbox-icon.ts-large-icon{
	padding: 10px 18px 0;
	line-height: 60px;
}
.ts-servicebox-style-8.themestek-box-service .themestek-pf-box-title h3 a:hover,
.ts-servicebox-style-8.themestek-box-service .themestek-box-category a{
	color: var(--tste-labtechco-skincolor);
}
.ts-servicebox-style-8 .ts-ihbox-icon.ts-large-icon{
	background-color: var(--tste-labtechco-skincolor);
}
.ts-servicebox-style-8 .ts-ihbox-icon.ts-large-icon{
	background-image: -ms-linear-gradient(bottom, var(--tste-labtechco-first-gradient) 0%, var(--tste-labtechco-second-gradient) 100%);
	background-image: linear-gradient(to bottom, var(--tste-labtechco-first-gradient) , var(--tste-labtechco-second-gradient) );
}