/* .ts-fidbox-style-1 */
.ts-fidbox-style-1 .ts-fid-title{
	font-size: 18px;
	line-height: 20px;
}
.ts-fidbox-style-1 .ts-fid-title-w,
.ts-fidbox-style-1 .ts-circle-w{
	display: inline-block;
}
.ts-fidbox-style-1 .ts-fid-title-w{
	width: 43%;
	margin-left: 20px;
}
.rtl .ts-fidbox-style-1 .ts-fid-title-w{
	margin-right: 20px;
	margin-left: 0;
}
.ts-fidbox-style-1 .ts-circle-w{
	width: 122px;
	position: relative;
	vertical-align: top;
}
.ts-fidbox-style-1 .ts-circle-number sub,
.ts-fidbox-style-1 .ts-circle-number{
	font-size: 20px;
	font-weight: bold;
}
.ts-fidbox-style-1 .ts-circle-number sub{
	bottom: 0;
}
.ts-fidbox-style-1 .ts-fid-title-w{
	position: absolute;
	top: 50%;
	-khtml-transform: translateX(0%) translateY(-50%);
	-moz-transform: translateX(0%) translateY(-50%);
	-ms-transform: translateX(0%) translateY(-50%);
	-o-transform: translateX(0%) translateY(-50%);
	transform: translateX(0%) translateY(-50%);
}
.ts-fidbox-style-1 .ts-fid-title-w h3{
	margin-bottom: 0;
}