.ts-teambox-style-8.themestek-box-team .themestek-box-content-inner{
	padding: 25px 0 0;
	text-align: center;
}
.ts-teambox-style-8.themestek-box-team .themestek-box-team-position{
	margin-bottom: 5px;
}
.ts-teambox-style-8.themestek-box-team .themestek-item-thumbnail{
	position: relative;
}
.ts-teambox-style-8 .themestek-item-thumbnail-inner{
	display: block;
}
.ts-teambox-style-8 img{
	width: 100%;
}
.ts-teambox-style-8 .themestek-box-team-position{
	font-size: 15px;
	font-weight: 500;
}
.ts-teambox-style-8 .themestek-box-title h4 a:hover{
	color: var(--tste-labtechco-skincolor);
}
.ts-teambox-style-8 .themestek-box-title h4{
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
	text-transform: none;
}
.ts-team-style-1 .themestek-team-image-box{
	position: relative;
	overflow: hidden;
}
.ts-team-style-1 .themestek-team-image-box{
	transition: 0.4s;
}
.ts-teambox-style-8.themestek-box-team .ts-team-social-links li a{
	font-size: 14px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: var(--tste-labtechco-skincolor);
	color: #fff;
	padding: 0;
	transform: translateX(calc(100% - -1px));
	transition: transform .2s ease-in-out,all 0.4s;
}
.rtl .ts-teambox-style-8.themestek-box-team .ts-team-social-links li a{
	transform: translateX(calc(100% - 80px));
}
.rtl .ts-teambox-style-8:hover .ts-team-social-links li a,
.ts-teambox-style-8:hover .ts-team-social-links li a{
	transform: translateX(0);
	transition: transform .3s ease-in-out,all .4s;
}
.ts-teambox-style-8 .ts-team-social-links li a:hover{
	color: #fff;
	background-color: var(--tste-labtechco-skincolor-dark);
}
.ts-teambox-style-8 ul.ts-team-social-links{
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateX(0) translateY(-50%);
	-ms-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
	z-index: 4;
}
.rtl .ts-teambox-style-8 ul.ts-team-social-links{
	left: 0;
	right: inherit;
}
.ts-teambox-style-8 ul li{
	display: block;
	padding: 0!important;
	margin: 0;
	float: none;
}
.ts-teambox-style-8:hover .ts-team-social-links li:nth-child(1) a{
	transition-delay: 0s;
}
.ts-teambox-style-8:hover .ts-team-social-links li:nth-child(2) a{
	transition-delay: 0.05s;
}
.ts-teambox-style-8:hover .ts-team-social-links li:nth-child(3) a{
	transition-delay: 0.1s;
}
.ts-teambox-style-8:hover .ts-team-social-links li:nth-child(4) a{
	transition-delay: 0.15s;
}
.ts-teambox-style-8:hover .ts-team-social-links li:nth-child(5) a{
	transition-delay: 0.20s;
}
.ts-teambox-style-8:hover .ts-team-social-links li:nth-child(6) a{
	transition-delay: 0.25s;
}
.ts-teambox-style-8:hover .ts-team-social-links li:nth-child(7) a{
	transition-delay: 0.30s;
}
.ts-teambox-style-8:hover .ts-team-social-links li:nth-child(8) a{
	transition-delay: 0.35s;
}
.ts-bgcolor-darkgrey .themestek-box-team.ts-teambox-style-8 .themestek-box-title h4 a,
.ts-textcolor-white .themestek-box-team.ts-teambox-style-8 .themestek-box-title h4 a{
	color: #fff;
}
.themestek-box-team.ts-teambox-style-8 .themestek-box-title h4 a:hover{
	color: var(--tste-labtechco-skincolor);
}
.ts-bgcolor-skincolor .themestek-box-team.ts-teambox-style-8 .themestek-box-title h4 a:hover{
	color: #fff;
}
.ts-textcolor-white.ts-bgcolor-skincolor .themestek-box-team.ts-teambox-style-8 .themestek-box-title h4 a:hover{
	color: var(--tste-labtechco-skincolor-dark);
}

/*=== Carousel ===*/
.themestek-boxes-element-team-style-8 .slick-dots li{
	width: auto;
	height: auto;
}
.themestek-boxes-element-team-style-8 .slick-dots li button{
	width: 12px;
	height: 12px;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	background-color: var(--tste-labtechco-skincolor-dark);
}
.themestek-boxes-element-team-style-8 .slick-dots li.slick-active button{
	box-shadow: none;
	background-color: var(--tste-labtechco-skincolor);
}
.themestek-boxes-element-team-style-8 .slick-dots{
	bottom: -68px;
}